
@{
    ViewData["Title"] = "Index";
    
}

<h1>Galeria</h1>
<h4>Wybierz kategorię plików, która Cię interesuje</h4>

@Html.ActionLink("Pobierz repozytorium", "GetRepo", "Gallery")

<ul >
    @for(int i = 0; i < 10; i++)
    {
        <li style="padding:10px;">@Html.ActionLink(i.ToString(), "Images", "Gallery", new { type = i })</li>
    }
</ul>

